<html>
    <iframe width="560" height="315" frameborder="0" allowfullscreen
    src="https://www.youtube.com/embed/QxfgpmYndks">
    </iframe>
    <iframe width="560" height="315" frameborder="0" allowfullscreen
    src="https://www.youtube.com/embed/kjrH-07dLus">
    </iframe>
    <iframe width="560" height="315" frameborder="0" allowfullscreen
    src="https://www.youtube.com/embed/qUapz7OWw2w">
    </iframe>
    <iframe width="560" height="315" frameborder="0" allowfullscreen
    src="https://www.youtube.com/embed/lNDvSwCWGbs">
    </iframe> 
</html>
